.perent__audio__container {
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: -10px;
    font-size: 14px;
}

.perent__audio__container span {
    vertical-align: middle;
}


@keyframes bliking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.speech-bubble {
    background-color: var(--clr-p-light);
    color: var(--clr-dark);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.292);
    position: relative;
    left: 25px;
    animation: bliking 1.5s infinite;
}

.speech-bubble:after {
    content: "";
    position: absolute;
    bottom: 35%;
    transform: rotate(270deg);
    left: -18px;
    /* Adjust this value to move the triangle left or right */
    margin-left: 0px;
    border-width: 10px;
    border-style: solid;
    /* White triangle */
    border-width: 10px;
    border-color: transparent transparent var(--clr-p-light) transparent;
    /* Triangle color */
}

.audio-container {
    position: relative;
    left: 10px;
    width: 40px;
    height: 40px;
}

.audio-controls {
    display: none;
    /* Hide default controls */
}

.play-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--clr-rose);
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-btn:hover {
    background: var(--clr-rose);
    transform: translate(-50%, -50%) scale(1.05);
}

.play-btn:active {
    transform: translate(-50%, -50%) scale(0.95);
}

.play-icon {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid white;
    margin-left: 2px;
}

.pause-icon {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}

.pause-icon:before,
.pause-icon:after {
    content: "";
    width: 10px;
    height: 100%;
    background: white;
}

@media (min-width: 1024px) {
    .perent__audio__container {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-top: -10px;
        margin-left: 0px;
    }
}